.step{
    display: block;
    padding: 16px;

    display: grid;
    grid-template-columns: 100%;
    gap: 16px;
}

.step:not(:last-of-type){
    border-bottom: 1px solid var(--gray-lt);
}

h3{
    margin: 0;
}

p{
    line-height: 1.35;
    margin: 0;
}

.ingredient-ctn{
    display: grid;
    grid-template-columns: 100%;
    gap: 6px;
}

.ingredient{
    font-size: .875rem;
    color: var(--gray-text);
}