<div class="prep" [class.closed]="!editStep" [formGroup]="group">

    <!-- HEADER -->
    <div class="step-header">

        <!-- LEFT -->
        <div class="button-suite left">
            <button class="btn-icon" type="button" (click)="toggleEditStep()">
                <span *ngIf="!editStep" class="material-icons">expand_more</span>
                <span *ngIf="editStep" class="material-icons">expand_less</span>
            </button>
            <h3>{{group.value.name}} Prep</h3>
        </div>

        <!-- RIGHT -->
        <div class="button-suite right">
            <button *ngIf="editStep" class="btn-icon danger" type="button" (click)="handleDeletePrepStep()">
                <span class="material-icons">
                    delete
                </span>
            </button>
            <button *ngIf="!editStep" class="btn-icon" type="button" (click)="handlePrepStepUp()">
                <span class="material-icons">
                    arrow_upward
                </span>
            </button>
            <button *ngIf="!editStep" class="btn-icon" type="button" (click)="handlePrepStepDown()">
                <span class="material-icons">
                    arrow_downward
                </span>
            </button>
        </div>
    </div>

    <!-- EDIT -->
    <div class="form-group" *ngIf="editStep">
        <div class="form-control">
            <label>Name</label>
            <input type="text" formControlName="name" placeholder="Step Name">
        </div>
        <div class="form-control">
            <label>Description</label>
            <textarea class="prep-description" rows="3" formControlName="description" placeholder="Explain how to complete this step"></textarea>
        </div>
        <div class="ingredients-ctn" formArrayName="ingredients">
            <label *ngIf="ingredients.length">Ingredients</label>
            <div class="form-group step-ingredient" *ngFor="let ingredient of ingredients.controls; let j = index">
                <input type="text" [formControlName]="j" placeholder="Ingredient Name">
                <button class="btn-icon danger" type="button" (click)="handleDeleteIngredient(j)">
                    <span class="material-icons">
                        clear
                    </span>
                </button>
            </div>
            <button class="btn-text" (click)="handleAddIngredient()" type="button">Add Ingredient</button>
        </div>
    </div>
</div>
