h1, h2, h3{
    margin: 0;
}
.prep{
    border-top: 1px solid var(--gray-lt);
    border-bottom: 1px solid var(--gray-lt);
    padding: 8px 0;

    display: grid;
    grid-template-columns: 100%;
    gap: 8px;
}

.step-ingredient{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
}

.step-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button-suite{
        display: grid;
        align-items: center;
        gap: 8px;
        
        &.left{
            grid-template-columns: repeat(2, auto);
            
        }
        
        &.right{
            grid-template-columns: repeat(3, auto);

        }
    }
}

.ingredients-ctn{
    display: grid;
    gap: 8px;

    label{
        margin: 0;
    }
}

.prep.closed.ng-invalid{
    h3{
        color: var(--danger);
    }
}