h1, h2, h3{
    margin: 0;
}
.prep{
    border-bottom: 1px solid var(--gray-lt);
    padding: 8px 0;

    display: grid;
    grid-template-columns: 100%;
    gap: 8px;
    
    &:first-of-type{
        border-top: 1px solid var(--gray-lt);
    }

    &:last-of-type{
        margin-bottom: 8px;
    }
}

.step-ingredient{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
}

.step-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button-suite{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 8px;
    }
}

.ingredients-ctn{
    display: grid;
    gap: 8px;

    label{
        margin: 0;
    }
}