<header>
    <div class="max-width-wrapper">
        <div class="inner">
            <nav class="main-nav">
                <a routerLink="/recipes" routerLinkActive="active">Recipes</a>
                <a routerLink="/list" routerLinkActive="active">Shopping List</a>
            </nav>
            <a routerLink="/login" class="btn-icon login-btn" [class.admin]="isAdmin">
                <span *ngIf="isAdmin" class="material-icons">
                    how_to_reg
                </span>
                <span *ngIf="!isAdmin" class="material-icons">
                    person
                </span>
            </a>
        </div>
    </div>
</header>
