header{
    background-color: white;
    border-bottom: 1px solid var(--gray-lt);
}

.inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav{
    display: flex;
}

.main-nav a{
    padding: 16px;

    &.active{
        background-color: var(--gray-lt);
    }
}

.login-btn{
    color: var(--gray-md);
}

.admin-btn{
    color: var(--bright);
}