<header>
    <div class="max-width-wrapper">
        <div class="inner">
            <nav class="main-nav">
                <a routerLink="/recipes" routerLinkActive="active">Recipes</a>
                <a class="shopping-list-link" routerLink="/list" routerLinkActive="active">
                    Shopping List
                    <div *ngIf="listQuantity > 0" class="list-quantity">{{listQuantity}}</div>
                </a>
            </nav>
            <a *ngIf="!isAdmin" routerLink="/login" class="btn-icon login-btn">
                <span class="material-icons">
                    person
                </span>
            </a>
            <button *ngIf="isAdmin" (click)="handleLogout()" class="btn-icon admin-btn">
                <span class="material-icons">
                    how_to_reg
                </span>
            </button>
        </div>
    </div>
</header>
