header{
    background-color: white;
    border-bottom: 1px solid var(--gray-lt);
}

.inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

    //-- align account button correctly
    padding-right: var(--spacer);
}

.main-nav{
    display: flex;
}

.main-nav a{
    padding: 16px;

    &.active{
        background-color: var(--gray-lt);
    }
}

.login-btn{
    color: var(--gray-md);
}

.admin-btn{
    color: var(--bright);
}

.shopping-list-link{
    position: relative;
}

.list-quantity{
    position: absolute;
    top: 10%;
    right: 2px;
    background-color: var(--primary);
    padding: 0 4px;
    height: 20px;
    min-width: 20px;
    border-radius: 10px;
    color: white;
    font-size: .75rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}