header{
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav{
    display: flex;

    /* aligns text with the main content */
    margin-left: -16px;
}

.main-nav a{
    padding: 16px;

    &.active{
        background-color: var(--gray-lt);
    }
}

.login-btn{
    color: var(--gray-md);
}

.admin-btn{
    color: var(--bright);
}