form{
    padding: 16px 0; 
    
    display: grid;
    grid-template-columns: 100%;
    gap: 16px;
}

h1, h2, h3{
    margin: 0;
}

.form-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-buttons{
    display: flex;

    .delete{
        color: var(--danger);
    }

}

.ingredients-ctn{
    display: grid;
    gap: 8px;
}

.ingredient{
    display: grid;
    grid-template-columns: 4fr 2fr auto;
    gap: 8px;
}

.img-preview{
    height: 200px;
    box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: .1);
    border-radius: 4px;
}

.header-spacer{
    width: 40px;
}

.prep-section, .instruction-section{
    border-top: 1px solid var(--gray-lt);
    }

.step-ctn{
    border-bottom: 1px solid var(--gray-lt);
}

.loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}