form{
    padding: 16px 0;   
}

::placeholder{
    color: var(--gray-md);
}

h2{
    margin-top: var(--spacer-section);
}

label, input{
    display: block;
}

label{
    font-size: .875rem;
    font-weight: 700;
    color: var(--gray-text);
    margin-bottom: 6px;
}

input, textarea{
    width: 100%;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: .1);
    padding: 8px 16px;
    resize: none;
    line-height: 1.35;
}

.ingredients-ctn{
    display: grid;
    gap: 8px;

    label{
        margin: 0;
    }
}

.form-group{
    margin: 16px 0;

    &.ingredient{
        display: grid;
        grid-template-columns: 4fr 2fr auto;
        gap: 8px;
        margin: 0;
    }

    &.prep, &.instruction{
        border-top: 1px solid var(--gray-lt);
        padding: 16px 0;
        margin: 0;
    }

    &.step-ingredient{
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 8px;
        margin: 0;
    }

    &.instruction{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 16px;
    }
}

.img-preview{
    height: 200px;
    box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: .1);
    border-radius: 4px;
    margin-top: 6px;
}

.instruction-number{
    font-size: 2.5rem;
    color: var(--gray-md);
    margin: 0;
}

.header-spacer{
    width: 40px;
}