<form *ngIf="recipeForm" [formGroup]="recipeForm" (ngSubmit)="handleSubmit()">
    <h1>{{formType | titlecase}} Recipe</h1>
    <div class="sticky-buttons">
        <button class="btn-contained save" type="submit" [disabled]="!recipeForm.valid || !recipeForm.dirty">Save</button>
        <button class="btn-contained delete" type="button" (click)="handleDeleteRecipe()">{{formType === 'new' ? 'Cancel' : 'Delete'}}</button>
    </div>

    <div class="form-control">
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" placeholder="Recipe Name">
    </div>

    <div class="form-control">
        <label for="image">Image URL</label>
        <input id="image" type="text" formControlName="imageURL" placeholder="https://www.image.com/example">
        <img *ngIf="recipeForm.value.imageURL" class="img-preview" [src]="recipeForm.value.imageURL" alt=""/>
    </div>

    <h2>Ingredients</h2>
    <section class="ingredients-ctn" formArrayName="ingredients">
        <div class="form-group ingredient" *ngIf="ingredients.length">
            <label>Name</label>
            <label>Quantity</label>
            <div class="header-spacer"></div>
        </div>
        <div class="form-group ingredient" *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i">
            <input type="text" formControlName="name" placeholder="Ingredient Name">
            <input type="text" formControlName="quantity" placeholder="Amount">
            <button class="btn-icon" type="button" (click)="handleDeleteIngredient(i)">
                <span class="material-icons">
                    delete
                </span>
            </button>
        </div>
        <button class="btn-outline" (click)="handleAddIngredient()" type="button">
            <span class="material-icons">
                add
            </span>
            Ingredient
        </button>
    </section>

    <h2>Preparation</h2>
    <section formArrayName="prep">
        <div class="form-group prep" *ngFor="let step of prep.controls; let i = index" [formGroupName]="i">
            <div class="step-header">
                <h3>{{recipeForm.value.prep[i].name}} Prep</h3>
                <div class="button-suite">
                    <button class="btn-icon" type="button" (click)="handleDeletePrepStep(i)">
                        <span class="material-icons">
                            delete
                        </span>
                    </button>
                    <button class="btn-icon" type="button" (click)="handlePrepStepUp(i)">
                        <span class="material-icons">
                            arrow_upward
                        </span>
                    </button>
                    <button class="btn-icon" type="button" (click)="handlePrepStepDown(i)">
                        <span class="material-icons">
                            arrow_downward
                        </span>
                    </button>
                </div>
            </div>
            <div class="form-control">
                <label>Name</label>
                <input type="text" formControlName="name" placeholder="Step Name">
            </div>
            <div class="form-control">
                <label>Description</label>
                <textarea class="prep-description" rows="3" formControlName="description" placeholder="Explain how to complete this step"></textarea>
            </div>
            <div class="ingredients-ctn" formArrayName="ingredients">
                <label *ngIf="getPrepIngredients(i).length">Ingredients</label>
                <div class="form-group step-ingredient" *ngFor="let ingredient of getPrepIngredients(i).controls; let j = index">
                    <input type="text" [formControlName]="j" placeholder="Ingredient Name">
                    <button class="btn-icon" type="button" (click)="handleDeletePrepIngredient(i, j)">
                        <span class="material-icons">
                            delete
                        </span>
                    </button>
                </div>
                <button class="btn-text" (click)="handleAddPrepIngredient(i)" type="button">Add Ingredient</button>
            </div>
        </div>
        <button class="btn-outline" type="button" (click)="handleAddPrepStep()">
            <span class="material-icons">
                add
            </span>
            Prep Step
        </button>
    </section>

    <h2>Instructions</h2>
    <section formArrayName="instructions">
        <div class="instruction" *ngFor="let step of instructions.controls; let i = index" [formGroupName]="i">
            <div class="step-header">
                <h3>Step {{i + 1}}</h3>
                <div class="button-suite">
                    <button class="btn-icon" type="button" (click)="handleDeleteInstruction(i)">
                        <span class="material-icons">
                            delete
                        </span>
                    </button>
                    <button class="btn-icon" type="button" (click)="handleInstructionUp(i)">
                        <span class="material-icons">
                            arrow_upward
                        </span>
                    </button>
                    <button class="btn-icon" type="button" (click)="handleInstructionDown(i)">
                        <span class="material-icons">
                            arrow_downward
                        </span>
                    </button>
                </div>
            </div>

            <div class="form-control">
                <label>Text</label>
                <textarea rows="3" formControlName="text" placeholder="Explain how to complete this step"></textarea>
            </div>
            <div class="form-control">
                <label>Time</label>
                <input type="text" formControlName="time" placeholder="2-3 minutes">
            </div>
            <div class="ingredients-ctn" formArrayName="ingredients">
                <label *ngIf="getInstructionIngredients(i).length">Ingredients</label>
                <div class="form-group step-ingredient" *ngFor="let ingredient of getInstructionIngredients(i).controls; let j = index">
                    <input type="text" [formControlName]="j" placeholder="Ingredient Name">
                    <button class="btn-icon" type="button" (click)="handleDeleteInstructionIngredient(i, j)">
                        <span class="material-icons">
                            delete
                        </span>
                    </button>
                </div>
                <button class="btn-text" (click)="handleAddInstructionIngredient(i)" type="button">Add Ingredient</button>
            </div>

        </div>
        <button class="btn-outline" type="button" (click)="handleAddInstruction()">
            <span class="material-icons">
                add
            </span>
            Instruction
        </button>
    </section>

</form>