form{
    padding: 16px; 
    display: grid;
    grid-template-columns: 100%;
    gap: 16px;
}

section{
    background-color: white;
    padding: var(--spacer);
    border-radius: 4px;
    border: var(--border);
    margin: 0 calc(-1 * var(--spacer));

    @media screen and (min-width: 768px) {
        margin: unset;
    }
}

h1, h2, h3{
    margin: 0;
}

h2{
    border-bottom: 1px solid var(--gray-lt);
    padding-bottom: var(--spacer);
}

// LAYOUT

.form-body{
    display: grid;
    grid-template-columns: 100%;
    gap: var(--spacer);

    grid-template-areas: 
        "general"
        "ingredients"
        "prep"
        "instructions"
    ;

    align-items: start;

    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "general ingredients"
            "prep ingredients"
            "instructions ingredients"
        ;
    }

    @media screen and (min-width: 960px) {
        grid-template-columns: 3fr 2fr;
    }
}

.general-section{
    grid-area: general;
}

.ingredients-rail{
    grid-area: ingredients;
    position: relative;
    align-self: stretch;
}

.ingredients-section{
    // position: sticky;
    top: var(--spacer);
}

.prep-section{
    grid-area: prep;
}

.instructions-section{
    grid-area: instructions;
}

// HEADER

.form-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-buttons{
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;

    .delete{
        color: var(--danger);
    }

}

.prep-ctn, .instructions-ctn{
    margin-top: calc(-1 * var(--spacer));
}

.ingredient{
    display: grid;
    grid-template-columns: 3.5fr 2fr 2fr auto;
    gap: 8px;
}

.img-preview{
    height: 200px;
    box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: .1);
    border-radius: 4px;
}

.header-spacer{
    width: 40px;
}

.step-ctn{
    border-bottom: 1px solid var(--gray-lt);
}

.loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}