@mixin btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: var(--primary);
    font-weight: 800;
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: .7px;
    cursor: pointer;
    border-radius: 4px;
    line-height: 1;

    &:hover{
        background-color: var(--gray-lt);
    }

    &:disabled{
        opacity: .4;
        cursor: auto;
    }

    &.fill{
        width: 100%;
    }
}

.btn-text {
    @include btn;
}

.btn-outline { 
    @include btn;
    padding: 0 16px;
    border: 1px solid var(--primary);
}

.btn-contained {
    @include btn;
    padding: 0 16px;
    background-color: var(--primary);
    color: white;
    box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: .1);
    
    &:hover {
        background-color: var(--primary-v);
        box-shadow: 0px 2px 3px rgba($color: #000000, $alpha: .1);
    }

    &:disabled {
        &:hover {
            background-color: var(--primary);
        }
    }

    &.danger {
        background-color: var(--danger);
    }

    &.success {
        background-color: var(--bright);
    }
}

.btn-icon {
    @include btn;
    width: 40px;

    &.danger {
        color: var(--danger);
    }

    &.muted {
        color: var(--gray-md);
    }
}