.padding-xs{
    height: var(--spacer-xs);
}

.padding-sm{
    height: var(--spacer-sm);
}

.padding{
    height: var(--spacer);
}

.padding-lg{
    height: var(--spacer-lg);
}

.padding-section{
    height: var(--spacer-section);
}