.instruction{
    display: flex;
    padding: 16px;
}

.instruction:not(:last-of-type){
    border-bottom: 1px solid var(--gray-lt);
}

.number{
    font-size: 1.5rem;
    color: var(--gray-md);
    font-weight: 900;
    margin: 0;
    margin-right: 16px;
}

.content{
    flex-grow: 1;

    // center single line to the number
    padding-top: 4px;

    display: grid;
    grid-template-columns: 100%;
    gap: 16px;
}

.text{
    margin: 0;
    line-height: 1.35;
}

.ingredient-ctn{
    display: grid;
    grid-template-columns: 100%;
    gap: 6px;
}

.ingredient{
    font-size: .875rem;
    color: var(--gray-text);
}

.time-ctn{
    display: flex;
    align-items: center;
    color: var(--primary);

    p{
        margin: 0 0 0 4px;
    }
}