h1, h2, h3{
    margin: 0;
}

.ingredients-ctn{
    display: grid;
    gap: 8px;

    label{
        margin: 0;
    }
}

.instruction{
    padding: 8px 0;

    display: grid;
    grid-template-columns: 100%;
    gap: 8px;
}

.step-ingredient{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
}

.step-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button-suite{
        display: grid;
        align-items: center;
        
        &.left{
            gap: 8px;
            grid-template-columns: auto calc(100vw - 32px - 150px);
        }

        &.right{
            grid-template-columns: repeat(3, auto);
        }
    }
}

.instruction-number{
    font-size: 2.5rem;
    color: var(--gray-md);
    margin: 0;
}

.step-preview{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: .875rem;
    color: var(--gray-text);
    font-style: italic;

    margin-top: 4px;
}

.instruction.closed.ng-invalid{
    h3{
        color: var(--danger);
    }
}