<div class="instruction" [class.closed]="!editStep" [formGroup]="group">

    <!-- HEADER -->
    <div class="step-header">

        <!-- LEFT -->
        <div class="button-suite left">
            <button class="btn-icon" type="button" (click)="toggleEditStep()">
                <span *ngIf="!editStep" class="material-icons">expand_more</span>
                <span *ngIf="editStep" class="material-icons">expand_less</span>
            </button>
            <div>
                <h3>Step {{stepIndex + 1}}</h3>
                <div *ngIf="!editStep" class="step-preview">{{group.value.text}}</div>
            </div>
        </div>

        <!-- RIGHT -->
        <div class="button-suite right">
            <button *ngIf="editStep" class="btn-icon danger" type="button" (click)="handleDeleteInstruction()">
                <span class="material-icons">
                    delete
                </span>
            </button>
            <button *ngIf="!editStep" class="btn-icon muted" type="button" (click)="handleInstructionUp()">
                <span class="material-icons">
                    arrow_upward
                </span>
            </button>
            <button *ngIf="!editStep" class="btn-icon muted" type="button" (click)="handleInstructionDown()">
                <span class="material-icons">
                    arrow_downward
                </span>
            </button>
        </div>
    </div>
    <!-- Edit step -->
    <div class="form-group" *ngIf="editStep">
        <div class="form-control">
            <label>Text</label>
            <textarea rows="3" formControlName="text" placeholder="Explain how to complete this step"></textarea>
        </div>
        <div class="form-control">
            <label>Time</label>
            <input type="text" formControlName="time" placeholder="2-3 minutes">
        </div>
        <div class="ingredients-ctn" formArrayName="ingredients">
            <label *ngIf="ingredients.length">Ingredients</label>
            <div class="form-group step-ingredient" *ngFor="let ingredient of ingredients.controls; let j = index">
                <input type="text" [formControlName]="j" placeholder="Ingredient Name">
                <button class="btn-icon muted" type="button" (click)="handleDeleteIngredient(j)">
                    <span class="material-icons">
                        clear
                    </span>
                </button>
            </div>
            <button class="btn-text" (click)="handleAddIngredient()" type="button">Add Ingredient</button>
        </div>
    </div>
</div>
