<div class="gallery-ctn" *ngIf="recipes">

    <!-- HEADING -->
    <div class="gallery-heading">
        <h1>Recipes</h1>
        <button class="btn-outline" (click)="addRecipesToList()" *ngIf="selectedRecipes.length">Add to list</button>
    </div>
    
    <div class="recipe-grid">
    
        <!-- ADD RECIPE -->
        <a routerLink="/recipe/new" class="new-recipe">
            <span class="material-icons">
                add
            </span>
        </a>
    
        <!-- RECIPE CARD -->
        <div class="recipe-card" *ngFor="let recipe of recipes; let i = index">
            <a class="recipe-link"  routerLink="/recipe/details/{{recipe.id}}">
                <img [src]="recipe.imageURL" alt="">
                <h3>{{ recipe.name }}</h3>
            </a>
            <button class="multi-select btn-icon" (click)="handleSelectRecipe(recipe.id)">
                <span *ngIf="!isSelected(recipe.id)" class="material-icons">
                    check_box_outline_blank
                </span>
                <span *ngIf="isSelected(recipe.id)" class="material-icons">
                    check_box
                </span>
            </button>
        </div>
    </div>

</div>

<div class="loading" *ngIf="!recipes">
    Loading...
</div>