.recipe-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

img{
    height: calc((100vw - (16px * 3))/2);
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.253);
}

h3{
    margin: 0;
    margin-top: 8px;
    line-height: 1.35;
    font-weight: 700;
    font-size: 1rem;
}

.new-recipe{
    width: 100%;
    height: calc((100vw - (16px * 3))/2);
    border: 2px dashed var(--primary);
    border-radius: 4px;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background-color: var(--gray-lt);
    }
}


.loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}