<div class="gallery-ctn" *ngIf="recipes">

    <!-- HEADING -->
    <h1>Recipes</h1>
    
    <ul class="recipe-grid">
    
        <!-- ADD RECIPE -->
        <a routerLink="/recipe/new" class="new-recipe">
            <span class="material-icons">
                add
            </span>
        </a>
    
        <!-- RECIPE CARD -->
        <li class="recipe-card" *ngFor="let recipe of recipes">
            <a routerLink="/recipe/details/{{recipe.id}}">
                <img [src]="recipe.imageURL" alt="">
                <h3>{{ recipe.name }}</h3>
            </a>
        </li>
    </ul>

</div>

<div class="loading" *ngIf="!recipes">
    Loading...
</div>