.gallery-ctn{
    padding: var(--spacer);
    display: grid;
    grid-template-columns: 100%;
    gap: var(--spacer);
}

.gallery-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    min-height: 40px;
}

.recipe-grid{
    --col: 2;

    display: grid;
    grid-template-columns: repeat(var(--col), 1fr);
    gap: 16px;
}

.recipe-card{
    position: relative;
}

.multi-select{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    background: radial-gradient(circle, white 25%, transparent 70%);
    
    &:hover{
        background-color: transparent;
    }
}

@mixin img-size {
    height: calc((100vw - (16px * 3))/var(--col));
    max-height: calc((var(--content-mw) - (16px * 3))/var(--col));
    width: 100%;
}

img{
    @include img-size();
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.253);
}

h3{
    margin: 0;
    margin-top: 8px;
    line-height: 1.35;
    font-weight: 700;
    font-size: 1rem;
}

.new-recipe{
    @include img-size();
    border: 2px dashed var(--primary);
    border-radius: 4px;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background-color: var(--gray-lt);
    }
}


.loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 600px) {
    .recipe-grid{
        --col: 3;
    }
}

@media screen and (min-width: 980px) {
    .recipe-grid{
        --col: 4;
    }
}