<div class="recipe-layout" *ngIf="recipe">

    <!-- IMAGE -->
    <img [src]="recipe.imageURL" alt="" />

    <!-- HEADER -->
    <div class="recipe-name">
        <div>
            <h1>{{recipe.name}}</h1>
            <p *ngIf="recipe.source" class="source">adapted from <span>{{recipe.source}}</span></p>
        </div>
        <div class="actions-mobile" appDropdown>
            <button class="btn-icon">
                <span class="material-icons">
                    more_horiz
                </span>
            </button>
            <div class="action-dropdown">
                <button class="action-btn" (click)="handleAddToList()">Add to List</button>
                <a class="action-btn" [routerLink]="['/recipe','edit', recipe.id]">Edit</a>
            </div>
        </div>
        <div class="actions-desktop">
            <button class="btn-outline" (click)="handleAddToList()">Add to List</button>
            <a class="btn-icon" [routerLink]="['/recipe','edit', recipe.id]">
                <span class="material-icons">
                    edit
                </span>
            </a>
        </div>
    </div>

    <!-- DETAILS CONTAINER -->
    <div>

        <!-- TABS -->
        <nav>
            <button 
                class="tab" 
                [class.selected]="tab === 'ingredients'"
                (click)="handleTab('ingredients')"
            >
                Ingredients
            </button>
            <button 
                class="tab" 
                [class.selected]="tab === 'prep'"
                (click)="handleTab('prep')"
            >
                Prep
            </button>
            <button 
                class="tab" 
                [class.selected]="tab === 'instructions'"
                (click)="handleTab('instructions')"
            >
                Instructions
            </button>
        </nav>

        <!-- DEATILS -->
        <section class="tab-content">
            <app-ingredient-list *ngIf="tab === 'ingredients'" [ingredients]="recipe.ingredients"></app-ingredient-list>
            <app-prep-list *ngIf="tab === 'prep'" [prepList]="recipe.prep"></app-prep-list>
            <app-instructions-list *ngIf="tab === 'instructions'" [instructions]="recipe.instructions"></app-instructions-list>
        </section>
    </div>
</div>

<!-- LOADING -->
<div class="loading" *ngIf="!recipe">
    Loading...
</div>
